import React from 'react';
import ${compName}, {type ${CompName}Props} from "./${comp-file-name}";


export const ${CompName}Story = React.forwardRef<any, ${CompName}Props>(
  (
    {
      ...rest
    },
    ref,
  ) => {

    const {} = ${compName}({});

    const props = { ...rest };

    return (
      <div className="story-wrap">
        ${CompName}
      </div>
    );
  },
);


${CompName}Story.displayName = '${CompName}Story';

export default React.memo(${CompName}Story);
